<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name=".MessagingService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="ru.rustore.sdk.pushclient.project_id"
            android:value="FuG1fcUnkW2hiK-UYygxAcOwvpZVd5t8" />

        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_icon"
            android:resource="@drawable/ic_notification" />
    </application>

</manifest>
